<section class="py-4">
    <div class="container">
        <div class="product-more-info">

            <ul class="nav nav-tabs mb-0" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-toggle="tab" href="#discription" role="tab" aria-selected="true">
                        <div class="d-flex align-items-center">
                            <div class="tab-title text-uppercase fw-500">Описание</div>
                        </div>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#more-info" role="tab" aria-selected="false">
                        <div class="d-flex align-items-center">
                            <div class="tab-title text-uppercase fw-500">Характеристики</div>
                        </div>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#tags" role="tab" aria-selected="false">
                        <div class="d-flex align-items-center">
                            <div class="tab-title text-uppercase fw-500">Теги</div>
                        </div>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#reviews" role="tab" aria-selected="false">
                        <div class="d-flex align-items-center">
                            <div class="tab-title text-uppercase fw-500">(3) Отзывы</div>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="tab-content pt-3">
                <div class="tab-pane fade show active" id="discription" role="tabpanel">
                    {{ product.text }}
                </div>
                <div class="tab-pane fade" id="more-info" role="tabpanel">
                    <p>
                        Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                        Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
                        four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft
                        beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
                        labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit
                        sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable
                        jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
                        tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
                    </p>
                </div>
                <div class="tab-pane fade" id="tags" role="tabpanel">
                    <div class="tags-box w-50">
                        {% if product.tags is defined %}
                            {% for tag in product.tags|split(',') %}
                                <a href="#{{ tag }}" class="tag-link">{{ tag }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="tab-pane fade" id="reviews" role="tabpanel">
                    <div class="row">
                        <div class="col col-lg-8">
                            <div class="product-review">
                                <h5 class="mb-4">3 Reviews For The Product</h5>
                                <div class="review-list">
                                    <div class="d-flex align-items-start">
                                        <div class="review-user">
                                            <img src="/assets/images/avatars/avatar-1.png" width="65" height="65" class="rounded-circle" alt="" />
                                        </div>
                                        <div class="review-content ms-3">
                                            <div class="rates cursor-pointer fs-6">	<i class="bx bxs-star text-white"></i>
                                                <i class="bx bxs-star text-white"></i>
                                                <i class="bx bxs-star text-white"></i>
                                                <i class="bx bxs-star text-white"></i>
                                                <i class="bx bxs-star text-light-4"></i>
                                            </div>
                                            <div class="d-flex align-items-center mb-2">
                                                <h6 class="mb-0">James Caviness</h6>
                                                <p class="mb-0 ms-auto">February 16, 2021</p>
                                            </div>
                                            <p>Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan</p>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="d-flex align-items-start">
                                        <div class="review-user">
                                            <img src="/assets/images/avatars/avatar-2.png" width="65" height="65" class="rounded-circle" alt="" />
                                        </div>
                                        <div class="review-content ms-3">
                                            <div class="rates cursor-pointer fs-6"> <i class="bx bxs-star text-white"></i>
                                                <i class="bx bxs-star text-white"></i>
                                                <i class="bx bxs-star text-white"></i>
                                                <i class="bx bxs-star text-white"></i>
                                                <i class="bx bxs-star text-light-4"></i>
                                            </div>
                                            <div class="d-flex align-items-center mb-2">
                                                <h6 class="mb-0">David Buckley</h6>
                                                <p class="mb-0 ms-auto">February 22, 2021</p>
                                            </div>
                                            <p>Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan</p>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="d-flex align-items-start">
                                        <div class="review-user">
                                            <img src="/assets/images/avatars/avatar-3.png" width="65" height="65" class="rounded-circle" alt="" />
                                        </div>
                                        <div class="review-content ms-3">
                                            <div class="rates cursor-pointer fs-6">	<i class="bx bxs-star text-white"></i>
                                                <i class="bx bxs-star text-white"></i>
                                                <i class="bx bxs-star text-white"></i>
                                                <i class="bx bxs-star text-white"></i>
                                                <i class="bx bxs-star text-light-4"></i>
                                            </div>
                                            <div class="d-flex align-items-center mb-2">
                                                <h6 class="mb-0">Peter Costanzo</h6>
                                                <p class="mb-0 ms-auto">February 26, 2021</p>
                                            </div>
                                            <p>Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-4">
                            <div class="add-review bg-dark-1">
                                <div class="form-body p-3">
                                    <h4 class="mb-4">Write a Review</h4>
                                    <div class="mb-3">
                                        <label class="form-label">Your Name</label>
                                        <input type="text" class="form-control rounded-0">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Your Email</label>
                                        <input type="text" class="form-control rounded-0">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Rating</label>
                                        <select class="form-select rounded-0">
                                            <option selected>Choose Rating</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="3">4</option>
                                            <option value="3">5</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Example textarea</label>
                                        <textarea class="form-control rounded-0" rows="3"></textarea>
                                    </div>
                                    <div class="d-grid">
                                        <button type="button" class="btn btn-light btn-ecomm">Submit a Review</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end row-->
                </div>
            </div>
        </div>
    </div>
</section>