<section class="py-4">
    <div class="container">
        <div class="d-flex align-items-center">
            <h5 class="text-uppercase mb-0">Последние новости</h5>
            <a href="{{ path('app_news') }}" class="btn btn-dark ms-auto rounded-0">
                Посмотреть все<i class='bx bx-chevron-right'></i>
            </a>
        </div>
        <hr/>
        <div class="product-grid">
            <div class="latest-news owl-carousel owl-theme">
                {% include ('news/partials/_item-grid.html.twig') %}
            </div>
        </div>
    </div>
</section>