<div class="col-4 col-md-auto order-2 order-md-4">
    <div class="top-cart-icons float-end">
        <nav class="navbar navbar-expand">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="account-dashboard.html" class="nav-link cart-link">
                        <i class='bx bx-user'></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="wishlist.html" class="nav-link cart-link">
                        <i class='bx bx-heart'></i>
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-large">
                    <a href="{{ path('app_cart') }}" class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative cart-link" data-bs-toggle="dropdown">
                        <span class="alert-count">8</span>
                        <i class='bx bx-shopping-bag'></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:;">
                            <div class="cart-header">
                                <p class="cart-header-title mb-0">8 ITEMS</p>
                                <p class="cart-header-clear ms-auto mb-0">VIEW CART</p>
                            </div>
                        </a>
                        <div class="cart-list">
                            <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <h6 class="cart-product-title">Men White T-Shirt</h6>
                                        <p class="cart-product-price">1 X $29.00</p>
                                    </div>
                                    <div class="position-relative">
                                        <div class="cart-product-cancel position-absolute"><i class='bx bx-x'></i>
                                        </div>
                                        <div class="cart-product">
                                            <img src="/assets/images/products/01.png" class="" alt="product image">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <h6 class="cart-product-title">Puma Sports Shoes</h6>
                                        <p class="cart-product-price">1 X $29.00</p>
                                    </div>
                                    <div class="position-relative">
                                        <div class="cart-product-cancel position-absolute"><i class='bx bx-x'></i>
                                        </div>
                                        <div class="cart-product">
                                            <img src="/assets/images/products/05.png" class="" alt="product image">
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>
                        <a href="javascript:;">
                            <div class="text-center cart-footer d-flex align-items-center">
                                <h5 class="mb-0">TOTAL</h5>
                                <h5 class="mb-0 ms-auto">$189.00</h5>
                            </div>
                        </a>

                        <div class="d-grid p-3 border-top">
                            <a href="{{ path('app_checkout_step') }}" class="btn btn-dark btn-ecomm">CHECKOUT</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>