{% set shop = isShop is not defined ? app.request.get('alias') : isShop %}

<div class="primary-menu border-top">
    <div class="container">
        <nav id="navbar_main" class="mobile-offcanvas navbar navbar-expand-lg">
            <div class="offcanvas-header">
                <button class="btn-close float-end"></button>
                <h5 class="py-2">Меню</h5>
            </div>

            {% set menuItem = knp_menu_get('main', [], {'shop': shop}) %}
            {{ knp_menu_render(menuItem) }}

        </nav>
    </div>
</div>